<div class="container" >
    <div class="row">
        <div class="col-md-3">
          <%= render 'books/list', user: @user, book: Book.new %>
          </div>
         <div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<div>
    <%= flash[:notice] %>
</div>
<div>
  <%= link_to books_path(@book.id) do %>
  <p><%= @book.title %></p>
  <% end %>
  <p><%= @book.body %></p>
  <%= link_to user_path(@book.user) do %>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <% end %>
  <%= link_to user_path(@book.user)  do %>
  <p><%= @book.user.name %></p>
  <% end %>
  <% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy",book_path(@book), method: :delete %>
  <% end %>
</div>
</div>
</div>
</div>