<h1>Book detail</h1>
<div>
  <%= link_to books_path(@book.id) do %>
  <p><%= @book.title %></p>
  <% end %>
  <p><%= @book.body %></p>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <%= link_to user_path(current_user.id) do %>
  <p><%= @book.user.name %></p>
  <% end %>
  <% if @book.user == current_user %>
  <%= link_to "edit", edit_book_path(@book.id) %>
  <%= link_to "destroy",book_path(@book), method: :delete %>
  <% end %>
</div>